<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>NCUIM指導教授管理預約系統</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap" rel="stylesheet"> 

        <!-- Icon Font Stylesheet -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link href="{{ url_for('static', filename='lib/lightbox/css/lightbox.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">

        <!-- Customized Bootstrap Stylesheet -->
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    </head>

    <body>



        <!-- Navbar start -->
        <div class="container-fluid fixed-top">
            <div class="container px-0">
                <nav class="navbar navbar-light bg-white navbar-expand-xl">
                    <a href="index" class="navbar-brand"><h1 class="text-primary display-6">指導教授管理預約系統</h1></a>
                    <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="fa fa-bars text-primary"></span>
                    </button>
                    <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                        <div class="navbar-nav mx-auto">
                            <a href="{{ url_for('main.student_dashboard') }}" class="nav-item nav-link">研究室資訊</a>
                            <a href="{{ url_for('main.appointment_student') }}" class="nav-item nav-link">預約紀錄</a>
                            <a href="{{ url_for('main.mentorship_stu') }}" class="nav-item nav-link">指導邀請</a>
                            <a href="{{ url_for('main.mentorship_stu_detail') }}" class="nav-item nav-link">指導邀請紀錄</a>
                        </div>
                        <div class="d-flex m-3 me-0">
                            <a href="{{ url_for('main.profile_stu') }}" class="my-auto" title="帳號管理">
                                <i class="fas fa-user fa-2x"></i>
                            </a>
	                        <a href="{{ url_for('main.logout') }}" class="btn btn-danger ms-3">登出</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Navbar End -->


        <!-- Contact Start -->
        <div class="container-fluid contact py-5">
            <!-- 顏色區塊 Start -->
            <div style="background-color: #82c408; height: 100px; width: 100%;"></div>
            <!-- 顏色區塊 End -->
            <div class="container py-5" style="max-width: 80%;">
                <div class="p-5 bg-light rounded">
                    <div class="row g-4">
                        <div class="col-12">
                            <div class="text-center mx-auto" style="max-width: 700px;">
                                <h1 class="text-primary">{{ professor[2] }}教授時段預約</h1>
                                <p class="mb-4">請根據教授所開放的預約時段進行預約，可前往<a href="{{ url_for('main.view_pro_detail', professor_id=professor[0]) }}">研究室資訊</a>查看。</p>
                            </div>
                        </div>
                       
                        <div class="container-fluid py-3">
                            <div class="container py-0">
                                <div class="row justify-content-center align-items-center">
                                   
                                    <!-- Form -->
                                    <div class="col-lg-8">
                                        {% if error %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ error }}
                                        </div>
                                        {% endif %}
                                        <form id="appointment-form" action="{{ url_for('main.appointment_create', professor_id=professor_id) }}" method="POST" enctype="multipart/form-data">
                                            <div class="mb-4">
                                                <label for="start-time" class="form-label">預約開始時間</label>
                                                <input type="datetime-local" id="start-time" name="start_time" class="form-control" required>
                                            </div>
                                            <div class="mb-4">
                                                <label for="end-time" class="form-label">預約結束時間</label>
                                                <input type="datetime-local" id="end-time" name="end_time" class="form-control" required>
                                            </div>
                                            <div class="mb-4">
                                                <label for="resume" class="form-label">履歷上傳(PDF)</label>
                                                <input type="file" id="resume" name="resume" class="form-control" accept=".pdf" required>
                                            </div>
                                            <button type="submit" class="btn btn-primary">送出預約</button>
                                        </form>
                                    </div>
                                    <!-- 預約結束時間在預約開始時間之前會報錯 -->
                                    <script>
                                        document.getElementById('appointment-form').addEventListener('submit', function(event) {
                                            var startTime = new Date(document.getElementById('start-time').value);
                                            var endTime = new Date(document.getElementById('end-time').value);
                                        
                                            if (endTime <= startTime) {
                                                event.preventDefault();
                                                alert('預約時間有誤，請重新確認！');
                                            } else {
                                                var confirmation = confirm('注意!!!繳交後不能更改，請確定所有資訊是否正確。');
                                                if (!confirmation) {
                                                    event.preventDefault();
                                                }
                                            }
                                        });
                                        </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact End -->


        <!-- Footer Start -->
        <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5">
        <div class="container py-5">
            <div class="row g-4">
                <!-- 左邊區塊：中央大學的Google地圖 -->
                <div class="col-lg-2">
                </div>
                <div class="col-lg-4">
                    <div class="card border-0">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14467.76001603884!2d121.1952988!3d24.9681558!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346823c1ec904dcb%3A0xcdc129d4455ce456!2z5ZyL56uL5Lit5aSu5aSn5a24!5e0!3m2!1szh-TW!2stw!4v1733202944088!5m2!1szh-TW!2stw" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    
                    </div>
                </div>
                <!-- 右邊區塊：中央資管的資訊 -->
                <div class="col-lg-6">
                    <div class="card border-0 bg-dark">
                        <div class="card-body">
                            <h4 class="text-light mb-3">中央大學資訊管理系</h4>
                            <ul class="list-unstyled text-white">
                                <li class="mb-2">
                                    <a href="https://im.mgt.ncu.edu.tw/" class="text-white" target="_blank">
                                        <i class="fas fa-link me-2"></i>中央大學資訊管理系系網連結
                                    </a>
                                </li>
                                <li class="mb-2">
                                    <i class="fas fa-map-marker-alt me-2"></i>地址：桃園市中壢區中大路300號 管理二館213室
                                </li>
                                <li class="mb-2">
                                    <i class="fas fa-phone-alt me-2"></i>系辦電話：(03)422-7151 分機 66500, 66501, 66536, 66559
                                </li>
                                <li>
                                    <i class="fas fa-envelope me-2"></i>公務信箱: <a href="mailto:ncu6500@ncu.edu.tw" class="text-white">ncu6500@ncu.edu.tw</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    



        <!-- Back to Top -->
        <a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>   

        
        <!-- JavaScript Libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/lightbox/js/lightbox.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>

        <!-- Template Javascript -->
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>

</html>